.project-container {
  width: 100%;
}
.project-image {
  width: 100%;
  height: 200px;
}
.project-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .project-title-container {
    flex-direction: row;
    align-items: center;
  }
  .project-image {
    height: 300px;
  }
}
.calender-container {
  display: flex;
  align-items: center;
}
.project-title {
  margin: 0;
}
.calender-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.project-duration {
  font-size: 15px;
  font-weight: bold;
}
.project-description {
  margin-top: 0;
  font-size: 15px;
  color: black;
}
.project-url {
  font-weight: bold;
  text-decoration: none;
  color: #0967d2;
  font-size: 17px;
}
