.chrono-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .chrono-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.journey-heading {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 0;
  text-align: center;
  line-height: 2em;
}
.ccbp-heading {
  color: #2b237c;
  font-weight: 500;
  font-size: 25px;
  /* padding-top: 30px; */
}
